#login-container {
    position: relative;
    display: flex;
    height: auto !important;
    width: 600px !important;
    background-color: #fff;
    padding: 40px 40px;
    border-radius: 4px;
    box-shadow: #00000063 0px 0px 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.fi-simple-layout:after {
    content: "" !important;
}

#login-form {
    flex: 5;
    position: relative;
    border-radius: 0px !important;
    z-index: 2;
}

#logo-login {
    display: none;
    flex: 3;
    margin-left: 15px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#logo-login img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    #logo-login {
        display: block;
    }
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: Arial, sans-serif;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}

.alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.alert-primary {
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
}

.alert-secondary {
    background-color: #e2e3e5;
    border-color: #d6d8db;
    color: #383d41;
}

.alert-light {
    background-color: #fefefe;
    border-color: #fdfdfe;
    color: #818182;
}

.alert-dark {
    background-color: #d6d8d9;
    border-color: #c6c8ca;
    color: #1b1e21;
}


body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
}

h1,
h2,
h3 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.declarations ol,
.declarations p {
    margin-left: 20px;
}

.signatures p {
    margin: 5px 0;
}

.signatures hr {
    border: none;
    border-top: 1px solid #000;
    margin: 5px 0;
}

@media screen and (max-width: 600px) {
    .form-group {
        margin-bottom: 10px;
    }

    /* Additional styles for mobile */
}

@media print {
    .page-break {
        page-break-after: always;
    }
}

#receipt {
    padding: 50px;
}

.receipt {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.receipt .title {
    position: relative;
    margin-top: 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #0d0d0d;
    margin-bottom: 20px;
}

.receipt .receipt-wraper {
    position: relative;
    margin-top: 45px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.receipt-wraper .foto-siswa {
    position: relative;
    width: 100px;
    height: 120px;
    margin-top: 10px;
    overflow: hidden;
}

.receipt-wraper .attribute-box {
    position: relative;
    width: 500px;
}

.attribute-box .attribute {
    margin-top: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.attribute .label {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    color: #4d4d4d;
}

.attribute .value {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    color: #0d0d0d;
}

.signature-line {
    border-bottom: 2px dotted #000;
    width: 200px;
    margin-top: 10px;
}

.signature-box {
    position: relative;
    margin-top: 50px;
    height: 130px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signature-box .signature {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

hr {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #000 !important;
}

.btn {
    padding: 10px 20px;
    border-radius: 40px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0b5ed7;
    color: #bad6ff;
}

.btn-success {
    background-color: #01db08;
    border-color: #0dfd2d;
    color: #fff;
}

.btn-success:hover {
    background-color: #48d70b;
    border-color: #2ad70b;
    color: #baffc2;
}

